  
    <link rel="stylesheet" href="/css/formBoot.css">

<section class="contact">
   <div class="formWrap">
     
      <form class="userForm" action="/contact-us" method="POST">

         {{#if first}} <br><small class="errorMessage">{{first}}</small> {{/if}}
         <div class="input-group mb-3">
            <div class="input-group-prepend">
               <div class="input-group-text sideIcon">
                  <span class="sideIcon">First Name</span>
               </div>
            </div>
            <input class="form-control formInput" type="text" name="firstName" placeholder="Your name" value="{{actualFirst}}">
         </div>
            
         {{#if last}} <br><small class="errorMessage">{{last}}</small>{{/if}}
         <div class="input-group mb-3">
            <div class="input-group-prepend">
               <div class="input-group-text sideIcon">
                  <span class="sideIcon">Last Name</span>
               </div>
            </div>
            <input class="form-control formInput" type="text" name="lastName" placeholder="Your lastname" value="{{actualLast}}">
         </div>
         
         {{#if e_mail}} <br><small class="errorMessage">{{e_mail}}</small> {{/if}}
         <div class="input-group mb-3">
            <div class="input-group-prepend">
               <div class="input-group-text sideIcon">
                  <span class="sideIcon"><i class="fas fa-envelope"></i></span>
               </div>
            </div>
            <input class="form-control formInput" type="text" name="email" placeholder="user@domain" value="{{actualMail}}">
         </div>
         
         <div class="input-group mb-3">
            <div class="input-group-prepend">
               <div class="input-group-text sideIcon">
                  <span class="sideIcon">Subject</i></span>
               </div>
            </div>
            <input class="form-control formInput" type="text" name="subject" placeholder="Subject" value="{{actualSubject}}">
         </div>
         
         {{#if messageUser}} <br><small class="errorMessage">{{messageUser}}</small> {{/if}}
         <div class="form-group">
            <textarea class="form-control formInput" name="message" rows="3" placeholder="Thank you for your message">{{actualMess}}</textarea>
         </div>

         <div class="errosWrap">
            {{#each errorMessages}}
                <div class="errorMsg">{{this.description}}</div>
            {{/each}}
         </div>

         <button class="btn mt-1 formBtn" type="submit">Contact</button>
    </form>
  </div>
</section>
</html>