<link rel="stylesheet" href="/css/inventory.css">

 <section class="row mb-4 dashboardTop">

   <div class="col-sm-3  offset-sm-2 card profileCard">
     <div class="card-img-top">
        <img src="/uploads/usersPictures/{{user.picture}}" alt="" class="card-img profilePic">
     </div>

     <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="card-text fas fa-user"></i>&nbsp;{{user.firstName}} {{user.lastName}}</li> 
        <li class="list-group-item"><i class="fas fa-at"></i>&nbsp;{{user.email}}</li>
     </ul> 
   </div>



   <div id="actions" class="col-sm-4 py-4 mb-4 big-light">
          <div class="row">
             <h2 class="col-sm-12 text-center">{{user.role}} Dashboard</h2>
             <div class="col-sm-12">
                <a class="btn btn-block" href="/products/add" ><i class="fas fa-plus"></i> Add a Product</a>
             </div>
             <div class="col-sm-12">
                <a href="#" class="btn btn-block" data-toggle="modal" data-target="#addCategoryModal">
                   <i class="fas fa-plus"></i> Add Category
                </a>
             </div>
             <div class="col-sm-12">
                <a href="#" class="btn btn-block" data-toggle="modal" data-target="#addUserModal">
                   <i class="fas fa-plus"></i> Add User
                </a>
             </div>
          </div>
   </div>
   
 </section>
  
  <form class="col-sm-4 offset-sm-7 mb-2" method="POST" action="/usersDashboard">
      <div class="input-group">
         <select class="custom-select" name="userSearch">
            <option value=""></option>
               {{#each roles}}
                  
                  <option value="{{role}}">{{role}}</option>

               {{/each}}

         </select>
         <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
         </div>
      </div>
   </form>

<section class="inventory"></section>
   <div class="container adminDashboard">

         <ul class="row text-center">
            <li class="col-sm">Picture</li>
            <li class="col-sm">Role</li>
            <li class="col-sm">Name</li>
            <li class="col-sm">Last name</li>
            <li class="col-sm">Email</li>
            <li class="col-sm">Action</li>
         </ul>

         {{#each data}}
            <ul class="row text-center gridRow">
               <li class="col">
                  <span><img class="w-100" src="/uploads/usersPictures/{{picture}}"alt=""></span>
               </li>
               <li class="col-sm">
                  <span>{{role}}</span>
               </li>
               <li class="col-sm">
                  <span>{{firstName}}</span>
               </li>
               <li class="col-sm">
                  <span>{{lastName}}</span>
               </li>
               <li class="col-sm">
                  <span>{{email}}</span>
               </li>
               <li class="col-sm">
                  <a href="/products/edit/{{id}}" class="btn btn-block">Edit</a>
                  <a href="/products/delete/{{id}}?method=DELETE" class="btn btn-block">Delete</a>
               </li>
            </ul>

         {{else}}
            <h2>There are no Users in the Database, Sorry...</h2>
         {{/each}}

   </div>

   
</section>
