<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{{title}}</title>
</head>
<body>
   <div class="loginWrapper">
       <div id="loginForm" class="formUser">
            <div class="formWrap">
               <h2 class="formTitle">Login</h2>
               <form class="userForm" action="/login" method="POST">
                  <input type="text" class="input" id="username" name="emailPhone" placeholder="Email / Phone number" value="{{this.actualMail}}">
                  {{#if this.e_mail}} <br><span class="errorMessage">{{this.e_mail}}</span> {{/if}}
                  <input type="password" class="input" id="loginPass" name="loginPass" placeholder="Password">
                  {{#if this.p_pass}} <br><span class="errorMessage">{{this.p_pass}}</span> {{/if}}

                  <div class="errosWrap">
                     {{#each errorMessages}}
                        <div class="errorMsg" style={{this.colour}}>{{this.description}}</div>
                     {{/each}}
                  </div>
                  <input class="submitForm" id="submitBt" type="submit" value="Login">
               </form>
            </div>
      </div>
   </div>
</body>
</html>