
<link rel="stylesheet" href="/css/formBoot.css">

<section class="formEdit">

   <form method="POST" action="/products/update/{{_id}}?method=PUT">
      <div class="input-group mb-3">
         <div class="input-group-prepend">
            <div class="input-group-text">
               <span>Name</span>
            </div>
         </div>
         <input class="form-control" type="text" name="title" placeholder="Enter product name" value="{{title}}">
      </div>

      <div class="form-group">
         <label for="description">Description</label>
         <textarea class="form-control" name="description" rows="3" placeholder="Enter Product Description">{{description}}</textarea>
      </div>

      <div class="input-group mb-3">
         <div class="input-group-prepend">
            <div class="input-group-text">
               <span>Artist</span>
            </div>
         </div>
         <input class="form-control" type="text" name="artist" placeholder="Enter Artist name" value="{{artist}}">
      </div>

      <div class="input-group mb-3">
         <div class="input-group-prepend">
            <div class="input-group-text">
               <span>Category</span>
            </div>
         </div>
         <select class="form-control" name="category" id="category">
            <option value="accesories" {{ifOption category "accesories"}}>Accesories</option>
            <option value="boutique" {{ifOption category "boutique"}}>Boutique</option>
            <option value="decor" {{ifOption category "decor"}}>Decor</option>
            <option value="home" {{ifOption category "home"}}>Home</option>
            <option value="decor" {{ifOption category "Food & Health"}}>Food & Health</option>
            <option value="home" {{ifOption category "Fitness"}}>Fitness</option>
         </select>
      </div>

      <div class="input-group mb-3">
         <div class="input-group-prepend">
            <div class="input-group-text">
               <input name="bestSeller" type="checkbox" value="true" {{ifCheck bestSeller}}> 
            </div>
         </div>
         <input type="text" class="form-control" value="Best Seller" disabled>
      </div>

       <div class="input-group mb-3">
         <div class="input-group-prepend">
            <div class="input-group-text">
               <span>Price</span>
            </div>
         </div>
         <input class="form-control" type="text" name="price" placeholder="Enter the price" value="{{price}}">
      </div>

      <div class="input-group mb-3">
         <div class="input-group-prepend">
            <div class="input-group-text">
               <span>Stock</span>
            </div>
         </div>
         <input class="form-control" type="text" name="stock" placeholder="Enter the stock" value="{{stock}}">
      </div>

      <!--
      <div class="custom-file">
         <label class="custom-file-label" for="productPic">Product Picture</label>
         <input class="custom-file-input" type="file" name="productPic">
      </div>
      -->
      <button class="btn btn-primary mt-1" type="submit">Submit</button>
   </form>
   
</section>