
<link rel="stylesheet" href="/css/formBoot.css">

<section class="formEdit">

   <form method="POST" action="/products/update/{{_id}}?method=PUT">
      <div class="input-group mb-3">
         <div class="input-group-prepend">
            <div class="input-group-text sideIcon">
               <span class="sideIcon">Name</span>
            </div>
         </div>
         <input class="form-control formInput" type="text" name="title" placeholder="Enter product name" value="{{title}}">
      </div>

      <div class="form-group">
         <label for="description">Description</label>
         <textarea class="form-control formInput" name="description" rows="3" placeholder="Enter Product Description">{{description}}</textarea>
      </div>

      <div class="input-group mb-3">
         <div class="input-group-prepend">
            <div class="input-group-text sideIcon">
               <span class="sideIcon">Artist</span>
            </div>
         </div>
         <input class="form-control formInput" type="text" name="artist" placeholder="Enter Artist name" value="{{artist}}">
      </div>

      <div class="input-group mb-3">
         <div class="input-group-prepend">
            <div class="input-group-text sideIcon">
               <span class="sideIcon">Category</span>
            </div>
         </div>
         <select class="form-control formInput" name="category" id="category">
            <option value="Accesories" {{ifOption category "Accesories"}}>Accesories</option>
            <option value="Boutique" {{ifOption category "Boutique"}}>Boutique</option>
            <option value="Decor" {{ifOption category "Decor"}}>Decor</option>
            <option value="Home" {{ifOption category "Home"}}>Home</option>
         </select>
      </div>

      <div class="input-group mb-3">
         <div class="input-group-prepend">
            <div class="input-group-text sideIcon">
               <input name="bestSeller" type="checkbox" value="true" {{ifCheck bestSeller}}>
            </div>
         </div>
         <input type="text" class="form-control formInput" value="Best Seller" disabled>
      </div>

       <div class="input-group mb-3">
         <div class="input-group-prepend">
            <div class="input-group-text sideIcon">
               <span class="sideIcon">Price</span>
            </div>
         </div>
         <input class="form-control formInput" type="text" name="price" placeholder="Enter the price" value="{{price}}">
      </div>

      <div class="input-group mb-3">
         <div class="input-group-prepend">
            <div class="input-group-text sideIcon">
               <span class="sideIcon">Stock</span>
            </div>
         </div>
         <input class="form-control formInput" type="text" name="stock" placeholder="Enter the stock" value="{{stock}}">
      </div>

      <!--
      <div class="custom-file">
         <label class="custom-file-label" for="productPic">Product Picture</label>
         <input class="custom-file-input" type="file" name="productPic">
      </div>
      -->
      <button class="btn formBtn mt-1" type="submit">Submit</button>
   </form>
   
</section>