
<link rel="stylesheet" href="/css/inventory.css">


<h2>Inventory Dashboard</h2>

    <section id="actions" class="py-4 mb-4 big-light">
       <div class="container">
          <div class="row">
             <div class="col-md-4">
                <a href="/products/add" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addPostModal">
                   <i class="fas fa-plus"></i> Add a Product
                </a>
             </div>
             <div class="col-md-4">
                <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#addCategoryModal">
                   <i class="fas fa-plus"></i> Add Category
                </a>
             </div>
             <div class="col-md-4">
                <a href="#" class="btn btn-warning btn-block" data-toggle="modal" data-target="#addUserModal">
                   <i class="fas fa-plus"></i> Add User
                </a>
             </div>
          </div>
       </div>
    </section>

<section class="inventory">

   <form action="POST" action="">
      <div class="form-group mb-3">
         <select class="form-control" name="productSearch">
              <option value="all">All</option>
            {{#each categories}}
               
               <option value="{{title}}">{{title}}</option>

            {{/each}}
         </select>
         <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
         </div>
         
      </div>
     
   </form>

   <div class="container">
         <ul class="row text-center">
            <li class="col-sm">Picture</li>
            <li class="col-sm">Name</li>
            <li class="col-sm">Category</li>
            <li class="col-sm">Price</li>
            <li class="col-sm">Best Seller</li>
            <li class="col-sm">Stock</li>
            <li class="col-sm">Action</li>
         </ul>

         {{#each data}}
            <ul class="row text-center gridRow">
               <li class="col">
                  <span><img class="w-100" src="/uploads/{{this.productPic}}"alt=""></span>
               </li>
               <li class="col-sm">
                  <span>{{this.title}}</span>
               </li>
               <li class="col-sm">
                  <span>{{this.category}}</span>
               </li>
               <li class="col-sm">
                  <span>{{this.price}}</span>
               </li>
               <li class="col-sm">
                  <span>{{this.bestSeller}}</span>
               </li>
               <li class="col-sm">
                  <span>{{this.stock}}</span>
               </li>
               <li class="col-sm">
                  <a href="/products/edit/{{this.id}}" class="btn">Edit</a>
                  <a href="/products/delete/{{this.id}}?method=DELETE" class="btn">Delete</a>
               </li>
            </ul>

         {{else}}
            <h2>There are no Items in the Inventory, Sorry...</h2>
         {{/each}}

   </div>

   
</section>


