<link rel="stylesheet" href="/css/product.css">

<section>

   <div class="card mb-5 prodCard" style="max-width: 500px;">
      <img src="/uploads/{{this.productPic}}" class="img-fluid card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title prodTitle" style="text-align: center;">{{title}}</h5>
         <p class="card-text">{{description}}</p>
      </div>
      <ul class="list-group list-group-flush">
         <li class="list-group-item d-flex justify-content-between align-items-center">
            Price
            <span class="badge badge-primary badge-pill">{{price}}</span>
         </li>
         <li class="list-group-item d-flex justify-content-between align-items-center">Artist: 
           <span>{{artist}}</span> 
         </li>
         
      </ul>
      <div class="card-body">
         <a class="aProduct btn btn-dark" href="/add-to-cart/{{this._id}}">Add to Cart</a>
      </div>
   </div>

</section>