<link rel="stylesheet" href="/css/ourProducts.css">
<section class="products">

   <form class="prodSearch mb-2" method="POST" action="/products/list">
      <div class="input-group">
         <select class="custom-select" name="productSearch">
            <option value="all">All</option>
               {{#each categories}}
                  
                  <option value="{{title}}">{{title}}</option>

               {{/each}}

         </select>
         <div class="input-group-append">
            <button class="btn aProduct" type="submit">Search</button>
         </div>
      </div>
   </form>

      <main class="row mb-5 productsGrid">
         {{#each data}}
            <div class="col-sm-3 singleBox">
               <a href="/products/profile/{{id}}"><img src="/uploads/{{this.productPic}}" alt=""></a> 
      
                  <div class="boxContent">
                     <div class="itemTitle bsTitle">
                        <h3 class="titleName">{{title}}</h3> &nbsp | &nbsp <h3 class="titleCat">{{cateory}}</h3>
                  </div>
                
                  <div class="productData">
                     <p>Artist: <a class="dataArt" href="#">{{artist}}</a></p>
                     <p>Price: ${{price}}</p>
                  </div>

               <a class="aProduct btn" href="/add-to-cart/{{id}}">Add to Cart</a>
               
            </div>
         
            </div>
         {{/each}}
      </main>
   </div>

</section>